<h1>Dashboard</h1>

<div class="board">
    <div class="titulo_grafica">
        <h3 class="t_grafica">Estadisticas de Ventas</h3>
    </div>
    <div class="sub_board">
        <div class="sep_board"></div>
        <div class="cont_board">
            <div class="graf_board">
                <div class="barra">
                    <div class="sub_barra b1">
                        <div class="tag_g">200</div>
                        <div class="tag_leyenda">The Eras Tour</div>
                    </div>
                </div>
                <div class="barra">
                    <div class="sub_barra b2">
                        <div class="tag_g">250</div>
                        <div class="tag_leyenda">Scream</div>
                    </div>
                </div>
                <div class="barra">
                    <div class="sub_barra b3">
                        <div class="tag_g">120</div>
                        <div class="tag_leyenda">Coraline</div>
                    </div>
                </div>

            </div>
            <div class="tag_board">
                <div class="sub_tag_board">
                    <div>1000</div>
                    <div>900</div>
                    <div>800</div>
                    <div>700</div>
                    <div>600</div>
                    <div>500</div>
                    <div>400</div>
                    <div>300</div>
                    <div>200</div>
                    <div>100</div>
                </div>
            </div>
       </div> 
        <div class="sep_board"></div>
   </div>    
</div>