<header class="fx-row fx-content-space-between fx-align-items-center">

  <div class="menu container">
    <nav class="navbar">
      <ul  class="fx-row fx-align-items-center fx-content-space-between">
        <li>
          <a routerLink="/dashboard" routerLinkActive="active">Inicio</a>
        </li>
  
        <li>
          <a routerLink="/ventas" routerLinkActive="active">Ventas</a>
        </li>
  
      </ul>
    </nav>
  </div>
  

  <div class="fx-row">
    {{ titulo | uppercase }}
  </div>

</header>

<main>

  <router-outlet></router-outlet>

</main>
